* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	margin-bottom: 20px;
}

body{
	background: black;
	background-size: cover;
	color: #fff;
}
.profile-manager{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;

}

.profile-manager h1{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
}

.profile-manager p{
	font-size: 20px;
	margin 15px 0;
}

.profile-manager input{
	font-size: 16px;
	padding: 15px 10px;
	width: 100%;
	border: 0;
	border-radius: px;
	outline: none;
}

.profile-manager select{
	height: 50px;
	width: 420px;
	text-overflow: ellipsis;
}

.profile-manager button{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
}

.profile-manager button:hover{
	color: red;
}