* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background: url('./bg.jpg') no-repeat;
	background-size: cover;
	color: #fff;
}

.sign-in-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
}
.sign-in-form hl {
	font-size: 40px;
	font-weight: bold;
	padding-left: 45px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
}
.sign-in-form p {
	font-size: 20px;
	margin: 15px 0;
}

.sign-in-form input {
	font-size: 16px;
	padding: 15 px 10px;
	width: 100%;
	border: 0;
	border-radius: 5px;
	outline: none;
}

.sign-in-form input[type="Submit"]
{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
}

.sign-in-form input[type="Submit"]:hover {
	color: green;
}